@import './Containers/login/login.scss';
@import './Containers/Home/home.scss';
@import './Containers/Measurements/measurements.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  overflow: hidden;
}
