@import './Containers/Measurements/measurements.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  overflow: hidden;
  background-color: rgba(0, 92, 149, 0.75);
}

