@import './Containers/login/login.scss';
@import './Containers/Home/home.scss';
@import './Components//navbar/navbar.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  min-height: 100vh;
}
